<!-- ユーザーの詳細 -->
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>

<!-- ユーザーの投稿一覧 -->
<!-- 部分テンプレートを呼び出せるように設定 -->
<%= render 'post_images/list', post_images: @post_images %>
<!-- post_images/list.html.erbが本来の呼び出し方。拡張子は省略できるが、違うフォルダ内から呼び出す場合はフォルダ名を指定する -->
